/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
    background-color: #23127e79;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(5, 3, 119); 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #120172; 
  }


.left-text {
  background-color: black;
  opacity: 85%;
  border-radius: 5%;
  padding: 5%;
}

.service-item {
  background-color: black;
  opacity: 85%;
}

.link-text {
  font-size: 100%;
  
}

.link-text :hover {
  font-size: 150%;
} 